# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/
Gemfile.lock

*.log

*.tmp
*.bak
*.swp
*~

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.ruby-version
.ruby-gemset

_config.local.yml

node_modules/
.npm
.env

*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

.byebug_history

/public/system
/public/assets

*.local.yml
*.local.json

*.log.*

*.sqlite3
*.sqlite3-journal

*.bak
*~
*.swp
*.swo

.directory
